@import "../../sass/default/variable";

.modal-title,
.modal-subtitle {
  color: $base-color4;
}

.modal-body img {
  width: 100%;
  margin-bottom: 20px;
}
.link{
  text-decoration: underline;
  font-size: 12px;
  line-height: 20px;
  color: #0000EE;
}
.link:hover{
  color: red;
}